html {
  background-color: black;
}

video {
  /* drag to move */
  -webkit-app-region: drag;
  cursor: move;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
